@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.tomato {
  color: tomato;
}

.min-w-16 {
  min-width: 4rem;
}

.min-w-24 {
  min-width: 6rem;
}

.top-el {
  @apply mt-4 lg:mt-0;
}

.bot-el {
  @apply mb-4 lg:mb-0;
}

.min-h-10 {
  min-height: 3rem;
}

.min-h-4 {
  min-height: 1rem;
}

.card-standard {
  @apply flex flex-col items-center justify-center space-x-4 space-y-4 lg:space-y-0 lg:flex-row border-slate-300 box-border shadow-lg border bg-white min-h-10;
}

.card-module {
  @apply flex flex-col items-center justify-center space-x-4 space-y-4 lg:space-y-0 lg:flex-row border-slate-300 box-border shadow-lg border bg-white min-h-10;
}

.input-standard {
  @apply rounded border border-black min-w-16 bg-slate-100 disabled:bg-slate-300;
}

.button-standard {
  @apply rounded border border-black justify-center bg-slate-100;
}

.controller-header {
  @apply flex justify-between items-center;
}

.controller-values {
  @apply flex justify-between items-center flex-col lg:flex-row mr-4;
}

.power-values {
  @apply rounded border border-black min-w-16 bg-slate-100 min-h-4 items-center;
}
